:root {
    --fontRubik: "Rubik", sans-serif;
    --fontRaleway: "Raleway", sans-serif;
    --main_color_red: #EC5863;
    --main_color_blue: #4285F4;
    --color_grey: #616161;
    --bg_grey: #FAFBFD;
}